* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.products {
    padding: 30px 40px;
    width: 100%;

    h2 {
        font-size: 42px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 300;
        color: #010f1c;
    }

    p {
        margin-top: 10px;
        color: #9a9a9a;
    }

    .container {
        margin-top: 20px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: none;
        .filter {
            .categories {
                h3 {
                    color: #010f1c;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                ul {
                    margin-top: 10px;
                    width: 122px;

                    li {
                        list-style: none;
                        margin-top: 20px;
                        color: #010f1c;
                        cursor: pointer
                    }
                }

            }
        }

        .productbox {
            margin-right: 5%;
            margin-left: 5%;

            .contant {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        .box:hover {
            .detail {
                h3 {
                    color: #0989ff
                }
            }
        }

        .box {
            padding: 10px 20px;
            overflow: hidden;
            width: 280px;
            height: 380px;
            border: 1px solid #e2e0e0;
            margin-bottom: 20px;
            transition: 0.5s;
            cursor: pointer;
            border-radius: 5px;

            .detail {
                margin-top: 10px;

                h3 {
                    font-size: 16px;
                    margin-top: 5px;
                    color: #010f1c;
                    transition: 0.5s;
                }

                h4 {
                    margin-top: 5px;
                    font-size: 14px;
                    color: #0989ff;
                    letter-spacing: 1px;
                }
            }

            .img_box {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #e2e0e0;

                img {
                    width: 300px;
                    height: 250px;
                    margin-right: 50px;
                }

                .icon {
                    li {
                        list-style: none;
                        padding: 10px 10px;
                        color: #010f1c;
                        cursor: pointer;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        background: #fff;
                        transition: 0.5;
                        font-size: 18px;
                    }

                    li:hover {
                        background: #0989ff;
                        color: #fff
                    }
                }
            }
        }
    }
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    .img_box {
        .icon {
            transform: translateX(-130px);
        }
    }

}