.custom-select {
    &__wrapper {
        height: 45px;
        width: 100%;

        .select {

            border-radius: 2px;
            width: 100%;
            padding: 0px 8px;
            margin-top: 7px;
            height: 100%;
            width: 100%;
            outline: none;
            cursor: pointer;

            &:required:invalid {
                color: #777777;
            }
        }

        .custom-input__error {}
    }

    &__label {

        color: #29303b;
        font-weight: 700;
        text-align: left;
    }
}

.custom-input__error {
    .subtitle {
        margin-top: 2px;
        font-size: 12px;
        font-style: italic;

        display: flex;
        text-align: left;
    }

    .children {
        margin-top: 2px;
        font-size: 13px;
        color: #ff5c58;
        display: flex;
        text-align: left;
    }
}